.card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: start;

}

.card-img-top {
    width: 250px;
    height: 250px;
    padding: 10px;
} 

.icon {
    padding: 7px;
}